
.container {
display: flex;
flex-wrap: wrap;
justify-content: space-between; /* distribute items evenly, with the first item at the start and the last item at the end */
align-items: center;
}

.image {
width: 31.5%; /* width of each image */
height: auto;
margin: 10px;
object-fit: cover;
border: 1px solid black;
border: 2px groove aqua;
}

.button-container {
display: flex;
justify-content: center;
margin-top: 20px;
width: 100%; /* make sure the button container covers the full width */
}

.button {
margin: 10px;
padding: 10px 20px;
border: none;
background-color: #4CAF50;
color: white;
font-size: 16px;
cursor: pointer;
width: calc(33.33% - 20px); /* width of each button */
text-align: center; /* center the button text */
}
h1, h2 {
text-align: center; /* center the text */
}


